<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!isFavorite" slot="icon-only" name="star-outline"></ion-icon>
        <ion-icon *ngIf="isFavorite" slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button (click)="shareSession()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="session" class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>
          <h3>{{session.name}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>{{session.tracks}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Fecha ejecución: {{session.order['data'].fechaejecucion}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
         <ion-label>
          <h3>Estado Cliente: {{session.timeStart}}</h3>
         </ion-label>
          <ion-select *ngIf="session.timeEnd=='En Aprobacion'" disabled [(ngModel)]="estadocliente" (ionChange)="updateEstadoCliente(estadocliente,session.order['data']);" placeholder="Editar" cancelText="Cancelar" okText="Confirmar">
            <ion-select-option value="3">Sin factibilidad</ion-select-option>
            <ion-select-option value="7">Sin contacto</ion-select-option>
          </ion-select>
          <ion-select *ngIf="session.timeEnd!='En Aprobacion'" [(ngModel)]="estadocliente" (ionChange)="updateEstadoCliente(estadocliente,session.order['data']);" placeholder="Editar" cancelText="Cancelar" okText="Confirmar">
            <ion-select-option value="3">Sin factibilidad</ion-select-option>
            <ion-select-option value="7">Sin contacto</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Estado Ticket: {{ session.timeEnd }}</h3>
        </ion-label>
          <ion-select *ngIf="session.timeEnd=='En Aprobacion'" disabled [(ngModel)]="estadoticket" (ionChange)="updateEstadoTicket(estadoticket,session.order['data']);" placeholder="Editar" cancelText="Cancelar" okText="Confirmar">
            <ion-select-option value="2">En Proceso</ion-select-option>
            <ion-select-option value="5">Cerrado no terminado</ion-select-option>
          </ion-select>
          <ion-select *ngIf="session.timeEnd!='En Aprobacion'" [(ngModel)]="estadoticket" (ionChange)="updateEstadoTicket(estadoticket,session.order['data']);" placeholder="Editar" cancelText="Cancelar" okText="Confirmar">
            <ion-select-option value="2">En Proceso</ion-select-option>
            <ion-select-option value="5">Cerrado no terminado</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Email: {{session.email}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Rut Cliente: {{ session.order['data'].client_order.rut }}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Nombre Cliente: {{ session.order['data'].client_order.nombre }}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Medio de pago: {{ session.order['data'].mediodepago.descripcion }}</h3>
        </ion-label>
        <ion-select *ngIf="session.timeEnd=='En Aprobacion'" disabled [(ngModel)]="mediodepago" (ionChange)="updateMediodepago(mediodepago,session.order['data']);" placeholder="Editar" cancelText="Cancelar" okText="Confirmar">
          <ion-select-option value="1">Webpay</ion-select-option>
          <ion-select-option value="2">Efectivo</ion-select-option>
        </ion-select>
        <ion-select *ngIf="session.timeEnd!='En Aprobacion'"  [(ngModel)]="mediodepago" (ionChange)="updateMediodepago(mediodepago,session.order['data']);" placeholder="Editar" cancelText="Cancelar" okText="Confirmar">
          <ion-select-option value="1">Webpay</ion-select-option>
          <ion-select-option value="2">Efectivo</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Monto: {{ session.order['data'].monto }}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <div>
            <h3>MAC: {{ session.order['data'].client_residence.mac }}</h3>
            <ion-button *ngIf="session.timeEnd=='En Aprobacion'" disabled shape="round" (click)="cambiarMAC(session.order['data'])">Editar MAC
              <ion-icon size="medium" name="construct-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="session.timeEnd!='En Aprobacion'" shape="round" (click)="cambiarMAC(session.order['data'])">Editar MAC
              <ion-icon size="medium" name="construct-outline"></ion-icon>
            </ion-button>
          </div>

         </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>PPPoE: {{ session.order['data'].client_residence.pppoe }}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Vlan: Pendiente. En desarrollo</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
            <h3 >Contacto 1: {{ session.order['data'].client_order.contacto1 }}
              <ion-icon size="large" name="call-outline" (click)="makeCall(session.order['data'].client_order.contacto1)"></ion-icon>
            </h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
            <h3 >Contacto 2: {{ session.order['data'].client_order.contacto2 }}
              <ion-icon size="large" name="call-outline" (click)="makeCall(session.order['data'].client_order.contacto2)"></ion-icon>
            </h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
            <h3>Comentario: {{ session.order['data'].comentario}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-button disabled  *ngIf="session.timeEnd=='En Aprobacion'"  (click)="presentModal()" expand="block" color="primary">Solicitar aprobación
            <ion-icon name="checkmark-sharp"></ion-icon>
          </ion-button>
          <ion-button *ngIf="session.timeEnd!='En Aprobacion'"  (click)="presentModal()" expand="block" color="primary">Solicitar aprobación
            <ion-icon name="checkmark-sharp"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>


</ion-content>
